
@font-face {font-family: "DINNextW01-Light"; src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot"); src: url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff") format("woff"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.svg#DINNextW01-Light") format("svg"); }


.fnndscLogo {
    color: #FFF;
    min-width: 40em;
    position: relative;

    --fnndsc-logo-shift: 30px;
    bottom: var(--fnndsc-logo-shift);
}

.fnndscLogo * {
    font-family: "DINNextW01-Light" !important;
    text-align: left;
}

.fnndscLogo h5 {
    font-size: 1.2em;
    margin-bottom: -2px;
    font-weight: 500;
}

.fnndscLogo img {
    position: relative;
    top: var(--fnndsc-logo-shift);
    left: 75px;
    width: 70px;
}

.fnndscLogo p {
    font-size: 0.7em;
}
