/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  gap: 0.5em;
  font-weight: 3000;
}


.jumbotron {
  margin: 3rem 0;
}

.blueBackground {
  color: white;
  background: #4185ca;
}

[data-theme='dark'] .blueBackground  {
  background: #275584;
}

.darkBlueBackground {
  color: white;
  background: #275584;
}

[data-theme='dark'] .darkBlueBackground  {
  background: #1f4265;
}

.paddedSection {
  padding: 3rem 0;
}

.rowOfLogos {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rowOfLogos > a > img {
  margin: 1em 0;
  height: 85px;
}
