.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex > * {
  max-height: 200px;
}

.plus::after {
  content: '+';
  font-size: min(10cqw, 12.5cqh);
}

.wordLogo {
  width: 60%;
}

.svgLogo {
  width: 20%;
}

[data-theme='dark'] .svgLogo {
   filter: invert(80%);
}
